      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
	  
	  
	  #button-of-the-death{
	border-radius: 50%;
	padding : 40;
		
	}

	  #container{
	 position : absolute;
	 bottom : 14%;
	 left : 44%
	 }
	 
	 #lifecounter {
		 position:absolute;
		 top:0%;
		 left:0%;
		 padding:0; margin:0;
	 }
	 
	 
	 #life {
		 position:absolute;
		 font-size: 38px;
		 top:0%;
		 left:139px;
	 }
	 
	 #bombcounter {
		 position:absolute;
		 top:12%;
		 left:0%;
		 padding:0; margin:0;
		 
	 }
	 
	 #firecounter {
		 position:absolute;
		 top:23%;
		 left:-1%;
		 padding:0; margin:0;
		 
	 }
	 
	 #numberBomb {
		 position:absolute;
		 font-size: 38px;
		 top:5%;
		 left:125px;
	 }
	 
	 #playerRadius {
		 position:absolute;
		 font-size: 38px;
		 top:0%;
		 left:180px;
		 
	 }
	 
	 #scorecounter {
		 position:absolute;
		 top: 0%;
		 right: 52px;
		 font-size: 38px;
		 }
	 
	 
	 #score{
		 position:absolute;
		 top: -6%;
		 right:0%;
		 font-size: 38px;
	 }
	 